<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\MyWorld\Publish\CabAgeWenAPI.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>officeontimeservices</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CabAgeEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=UMAKIRAN\SQLEXPRESS;Initial Catalog=CabAge;Persist Security Info=True;User ID=sa;Password=saPassword" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=UMAKIRAN\SQLEXPRESS;Initial Catalog=CabAge;User ID=sa;Password=saPassword;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\CabAgeEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/CabAgeDataModel.csdl|res://*/CabAgeDataModel.ssdl|res://*/CabAgeDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UMAKIRAN\SQLEXPRESS;initial catalog=CabAge;User id=sa;Password=saPassword;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CabAgeEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/CabAgeDataModel.csdl|res://*/CabAgeDataModel.ssdl|res://*/CabAgeDataModel.msl;provider=System.Data.SqlClient;provider connection string="data source=UMAKIRAN\SQLEXPRESS;initial catalog=CabAge;persist security info=True;user id=sa;password=saPassword;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>